h1{
    text-align: center; color: rgb(158, 38, 152);background-color: black;
}

#sss{
    color: rgb(255, 153, 0);
}
p{
    color: navy;
}
.one{
    color: brown;
}
.one_best{
    color: blueviolet;
}
ul li{
    color: orange;
}
.two_2{
    color: hotpink;
}